// Abstracts/Variables
@use 'abstracts';

// Base files/typography etc.
@use 'base';

// Components
@use 'components';

// Layout
// @use 'layout';

// Pages
// @use 'pages';

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
  padding-inline: 24px;
  height: 100vh;
}
