@use '../util' as *;

.start {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: rem(32);
  padding-inline: rem(24);
  height: auto;
  width: 100%;
  max-width: rem(460);
  margin-inline: auto;
  transition: opacity var(--fade-duration) var(--fade-ease),
    transform var(--fade-duration) var(--fade-ease);
  opacity: 1;
  z-index: 9000;

  .btn-yellow,
  .btn-blue {
    width: 100%;
  }

  &.hidden {
    opacity: 0;
    top: 50%;
    transform: translate(1rem, -50%);
    pointer-events: none;
  }

  @include breakpoint(medium) {
    padding-inline: 0;
  }
}
