@use '../util' as *;

.header {
  @include flexbox;
  @include justify-content(space-between);
  @include align-items(center);
  width: 100%;
  max-width: rem(328);

  svg {
    height: rem(32);
  }

  @include breakpoint(medium) {
    max-width: rem(460);
  }
}
