@use '../util' as *;

.modal {
  &__bg {
    background: rgba(0, 0, 0, 0.7);
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 200;

    &.visible {
      display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
      text-align: center;
    }
  }

  &__header {
    h2 {
      margin: 0;
      padding: 0;
      font-size: var(--fs-sm);
      font-weight: var(--fw-bold);
      text-transform: uppercase;
    }
  }
  &__body {
    display: flex;
    flex-direction: column;
    gap: rem(24);
    justify-content: center;
    height: rem(228);
    width: 100%;
    padding: rem(20);
    background-color: var(--clr-neutral-700);

    h3 {
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      font-size: var(--fs-xlg);
      font-weight: var(--fw-bold);
      letter-spacing: rem(1.5);

      svg {
        height: rem(30);
        width: rem(30);
        margin-inline-end: rem(8);
      }

      &.yellow {
        color: var(--clr-yellow-500);
        svg {
          fill: var(--clr-yellow-500);
        }
      }

      &.blue {
        color: var(--clr-blue-500);
        svg {
          fill: var(--clr-blue-500);
        }
      }
    }

    .btn-container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: rem(16);
    }
  }
}
